<!DOCTYPE html>
<html>
<head>
  <title>Files</title>
</head>
<body>
  <ul>
    <% @filenames.each do |f| %>
    <li>
      <a href=show/<%=f %> > <%= f %> </a>
    </li>
    <% end %>
  </ul>

  <% if @ascending == false %>
    <a href="/true" >Display <%= "#{@ordering}" %> </a>
  <% else %>
    <a href="/false" > Display <%= "#{@ordering}" || decending %> </a>
  <% end %>
</body>
</html>
